<header class="main-header">
	<div class="main-header-content">
		<h1 class="blog-title">
			<a href="{{ "/" | relLangURL }}">
				{{ if .Site.Params.logoTitle }}
					{{ .Site.Params.logoTitle | safeHTML }}
				{{ else }}
           {{ .Site.Title }}
				{{ end }}
			</a>
		</h1>
		<h2 class="blog-description">{{ .Site.Params.description }}</h2>
	</div>

    {{ "<!-- isso -->" | safeHTML }}
    <script data-isso="{{ .Site.BaseURL }}isso/" src="{{ .Site.BaseURL }}isso/js/embed.min.js"></script>
    {{ "<!-- end isso -->" | safeHTML }}

    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
    })(document, window, '//fathom.momomg.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'LPDOP');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->

	<div class="nav">
    {{ $currentPage := . }}
		{{ range .Site.Menus.main }}
      <a class="nav- {{ if $currentPage.IsMenuCurrent "main" . }}nav-current{{ end }}" role="presentation" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
	</div>
</header>
